@import "./assets/fonts/webfontkit-20210614-211649/stylesheet.css";
@import "./assets/fonts/webfontkit-20210614-215145/stylesheet.css";
@import "./assets/styles/locomotive-scroll.css";

.animation-button {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 40;
  color: grey;
  background-color: transparent;
  border: 1px solid grey;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}
.animation-button:hover {
  color: crimson;
  border: crimson 1px solid;
}
.App {
  transition: 3s;
  position: relative;
}
.App-light {
  background-color: rgb(241, 236, 241);
  font-family: "raleway_dots_regular";
}
.App-dark {
  background-color: black;
  font-family: "big_shoulders_stencil_dispBlk";
}

.presentation {
  width: 100vw;
  display: flex;
  transition: 3s;
}
.presentation-light {
  background-color: rgb(245, 243, 240);
}
.presentation-light h1,
.presentation-light h2 {
  font-family: "Monoton", cursive;
}
.presentation-dark {
  background-color: rgb(10, 10, 10);
}

.presentation-container-left {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  padding: 50px;
  border-radius: 0 0 0 15vw;
  width: 60vw;
}
.presentation-container-left h1 {
  width: 50%;
  font-size: 130px;
}
.presentation-dark h1 {
  color: lightslategrey;
}

.presentation img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}
.puff-in-center {
  -webkit-animation: puff-in-center 2s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: puff-in-center 2s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.presentation-container-left h2 {
  font-size: 50px;
}
.presentation-light h2 {
  color: grey;
}
.presentation-dark h2 {
  color: lightsteelblue;
}
.presentation-container-left h3 {
  font-size: 50px;
  text-decoration: underline;
}
.presentation-light h3 {
  text-decoration-color: grey;
}
.presentation-dark h3 {
  text-decoration-color: darkgrey;
  color: aliceblue;
}

.presentation-container-right {
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 0 20vw 0 20vw;
  width: 40vw;
  height: 100vh;
}
.presentation-container-right img {
  width: 40vw;
  height: 100vh;
  object-fit: cover;
  object-position: top;
}

.presentation-container-right p {
  display: flex;
  align-items: center;
  font-size: 50px;
  box-sizing: border-box;
  line-height: 80px;
  padding: 50px;
  min-height: 110vh;
  margin-bottom: 50px;
}
.presentation-light .presentation-container-right {
  background-color: rgb(99, 99, 99);
  color: lightgrey;
}
.presentation-dark .presentation-container-right {
  background-color: black;
  color: lightsteelblue;
}
.toggle-theme {
  position: fixed;
  top: 20px;
  right: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  z-index: 40;
  background-color: transparent;
  font-size: 30px;
  border-radius: 50%;
}

.section {
  box-sizing: border-box;
  padding: 40px;
  margin: 40px;
  min-height: 90vh;
  position: relative;
}
section * {
  transition: 3s;
}

.section h1 {
  font-size: 130px;
  font-weight: none;
  width: 50%;
}
.section h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
}
.link {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 40px;
}

.link-dark h2 {
  color: white;
  font-size: 5em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 40px cyan, 0 0 80px cyan,
    0 0 120px cyan;
}
.link-dark a:visited {
  color: white;
}
.link-light a:visited {
  color: black;
}
.link-light {
  box-sizing: border-box;
  background: linear-gradient(0.25turn, transparent, rgb(212, 205, 212));
}

.link-dark {
  color: aliceblue;
}
.link-dark a {
  color: aliceblue;
}

.link > div {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}

.link a {
  display: flex;
  align-items: center;
  font-size: 40px;
  height: 50px;
  text-decoration: none;
  margin-bottom: 20px;
}
.link a svg {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.section a:hover {
  color: purple;
}
.skills {
  border: none;
}

.skills-dark h2 {
  color: white;
  font-size: 5em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 40px cyan, 0 0 80px cyan,
    0 0 120px cyan;
}

.skill {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.section .skill p {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 475px;
  margin-bottom: 50px;
}
.section div p span:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  transition: 3s;
  width: 150px;
}
.icon-container {
  display: flex;
  justify-content: center;
  font-size: 24px;
  width: 80px;
}
.skill svg {
  width: 50px;
  height: 50px;
  font-size: 40px;
}

.section .note * {
  margin: 0 1px;
}
.projects {
  transition: 3s;
}
.project-light {
  background: linear-gradient(0.25turn, transparent, rgb(212, 205, 212));
  border-radius: 5%;
}
.projects h2,
.others h2,
.link h2,
.skills h2 {
  transition: 3s;
}

.project-dark h2 {
  color: white;
  font-size: 5em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 40px cyan, 0 0 80px cyan,
    0 0 120px cyan;
}
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 0 0 15% 0;
  box-sizing: border-box;
  transition: 3s;
  padding: 30px;
}

.project-container > div {
  margin: 10px;
  border-radius: 10px;
  display: flex;
}
.project-container div:hover {
  cursor: pointer;
}
.project {
  display: flex;
  flex-direction: column;
  position: relative;
}

.project:hover video {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.project h3 a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: transparent;
  font-weight: bold;
  font-size: 24px;
  border-radius: 10px 10px 0 0;
}
.project-container-light h3 a {
  color: black;
}
.project-container-dark h3 a {
  color: white;
}

.project-button {
  position: absolute;
  right: 0px;
  top: 0px;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}
.project-info {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 30px;
  font-size: 20px;
  max-height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 20px;
}
.project-container-light .project-info {
  border: 5px solid black;
  color: black;
}
.project-container-dark .project-info {
  border: 5px solid white;
  color: gray;
}
.project-button:hover {
  background-color: darkcyan;
}

.others {
  transition: 3s;
}

.others-dark h2 {
  color: white;
  font-size: 5em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 40px cyan, 0 0 80px cyan,
    0 0 120px cyan;
}

.picture-project-container div {
  box-sizing: border-box;
  padding: 20px;
  height: 350px;
  font-size: 24px;
  transition: 3s;
}
.picture-project-container div a {
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
}
.picture-project-container div img {
  width: 400px;
  object-fit: contain;
  border-radius: 20px;
}

.others-dark p {
  color: aqua;
  color: aliceblue;
}
.project video {
  border-radius: 0 0 10px 10px;
  outline: none;
  transition: 2s;
}
.size-initial {
  width: 20vw;
  transition: 2s;
}
.size-growing {
  width: 40vw;
  transition: 2s;
}
.cv-video {
  width: 100vw;
  height: 100vh;
  z-index: 20;
  transition: 3s;
  background: linear-gradient(transparent, rgb(243, 224, 192));
}
@media (max-width: 1221px) {
  .animation-button {
    display: none;
  }
  .presentation-container-left h1 {
    width: initial;
  }
  .presentation-container-right p {
    font-size: 30px;
    line-height: 60px;
  }
}
@media (max-width: 1164px) {
  .link > div {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (max-width: 1000px) {
  .size-initial {
    width: 30vw;
    transition: 2s;
  }
  .size-growing {
    width: 50vw;
    transition: 2s;
  }
}
@media (max-width: 892px) {
  .presentation-container-left {
    width: 100vw;
  }
  .presentation-container-left h1,
  .presentation-container-left h2 {
    margin-bottom: 30px;
  }
  .presentation-container-right {
    display: none;
  }
  .link a {
    font-size: 30px;
  }
}
@media (max-width: 772px) {
  .size-initial {
    width: 50vw;
    transition: 2s;
  }
  .size-growing {
    width: 80vw;
    transition: 2s;
  }
}
@media (max-width: 630px) {
  .presentation-container-left h1 {
    font-size: 100px;
  }
  .project-dark h2,
  .link-dark h2,
  .others-dark h2,
  .skills-dark h2 {
    font-size: 50px;
  }
  .skill > p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 475px;
    margin-bottom: 50px;
  }
  .section div p span:nth-child(1) {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .icon-container {
    width: 60px;
  }
  .note {
    width: 400px;
  }
  .section .note * {
    margin: 0 0px;
  }
  .project-container {
    padding: 0px;
    flex-direction: column;
  }

  .picture-project-container div img {
    width: 350px;
  }
}
@media (max-width: 460px) {
  .presentation-container-left h1,
  .presentation-container-left h2,
  .presentation-container-left h3 {
    font-size: 30px;
  }
  .link a {
    font-size: 15px;
  }
  .link a svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .project-dark h2,
  .link-dark h2,
  .others-dark h2,
  .skills-dark h2 {
    font-size: 20px;
  }
  .projects h2,
  .link h2,
  .others h2,
  .skills h2 {
    font-size: 30px;
  }
  .skill > p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 475px;
    margin-bottom: 50px;
  }
  .section div p span:nth-child(1) {
    font-size: 14px;
    width: 100px;
    font-size: 1.5em;
  }
  .note {
    width: 250px;
  }
  .skill .skill .note svg {
    width: 15px;
    height: 15px;
  }
  .picture-project-container div img {
    width: 250px;
  }
  .picture-project-container div img {
    width: 200px;
  }
}
@media (max-width: 358px) {
  .section {
    padding: 0px;
  }
  .projects {
    padding: 20px 0px;
  }
  .size-initial {
    width: 60vw;
    transition: 2s;
  }
  .size-growing {
    width: 70vw;
    transition: 2s;
  }

  .picture-project-container div img {
    width: 150px;
  }
}
